<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wigwamlabs.veckify"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name="Application"
        android:hardwareAccelerated="true">
        <activity
            android:name="MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/DarkTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="NowPlayingActivity"
            android:parentActivityName="MainActivity"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/LightTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation" />
        <activity
            android:name="OfflinePlaylistsActivity"
            android:label="@string/activity_offline_playlists"
            android:parentActivityName="MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/DarkTheme"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation" />
        <activity
            android:name="SettingsActivity"
            android:parentActivityName="MainActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/DarkTheme" />
        <activity
            android:name="OpenSourceLicensesActivity"
            android:parentActivityName="SettingsActivity"
            android:label="@string/activity_opensource_licenses"
            android:theme="@style/LightTheme" />

        <receiver
            android:name="com.wigwamlabs.veckify.BroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wigwamlabs.veckify.BroadcastReceiver.ALARM" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.wigwamlabs.spotify.SpotifyService"
            android:exported="false" />
        <receiver android:name="com.wigwamlabs.spotify.StaticBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
